
<div class="container">

       <div class="row">

           <div class="col-md-3">
               <p class="lead">All Items</p>
           </div>

           <div class="col-md-9">

               <div class="row carousel-holder">

               <div class="row">

                          <% @products.each do |product| %>
                   <div class="col-sm-4 col-lg-4 col-md-4">
                       <div class="thumbnail">
                          <%= image_tag product.image_url, :size => "160x320" unless product.image_url.blank? %>
                           <div class="caption">
                               <h4 class="pull-right"><%= product.price_in_dollars %></h4>

                               <h4><%= link_to "/products/#{product.id}" do %>
                               <%= product.name %></a></h4>
                               <% end %>
                               <p><%= product.description%>.</p>
                           </div>
                           <div class="ratings">
                               <p class="pull-right">15 reviews</p>
                               <p>
                                   <span class="glyphicon glyphicon-star"></span>
                                   <span class="glyphicon glyphicon-star"></span>
                                   <span class="glyphicon glyphicon-star"></span>
                                   <span class="glyphicon glyphicon-star"></span>
                                   <span class="glyphicon glyphicon-star"></span>
                               </p>
                           </div>
                       </div>
                   </div>
       <% end %>


                       </div>
                   </div>

               </div>

           </div>

       </div>

   </div>
   <!-- /.container -->

   <div class="container">

       <hr>
