<div class="container">

      <div class="row">

          <div class="col-md-3">
              <p class="lead">Rainforest</p>
              <div class="list-group">
                  <a href="#" class="list-group-item active">Category 1</a>
                  <a href="#" class="list-group-item">Category 2</a>
                  <a href="#" class="list-group-item">Category 3</a>
              </div>
          </div>

          <div class="col-md-9">

              <div class="thumbnail">
                  <%= image_tag @product.image_url %>
                  <div class="caption-full">
                      <h4 class="pull-right"><%= @product.price_in_dollars %></h4>
                      <h4><a href="#"><%= @product.name %></a>
                      </h4>
                      <p><%= @product.description %></p>
                  </div>
                  <div class="ratings">
                      <p class="pull-right">3 reviews</p>
                      <p>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star"></span>
                          <span class="glyphicon glyphicon-star-empty"></span>
                          4.0 stars
                      </p>
                  </div>
                  <div class="editdeletebar">
                    <%= link_to 'Edit', edit_product_path %> |
                    <%= link_to 'Delete', product_path(@product), method: :delete, data: {confirm: "Are you sure you want to delete the product '#{@product.name}'? This cannot be undone!"} %>
                  </div>
              </div>

              <div class="well">

                  <div class="text-right">
                      <div class="btn btn-success"><%= link_to 'Leave a Review', new_product_review_path(@product), :class => "btn" %></div>

                  </div>

                  <hr>
                  <% @product.reviews.each do |review| %>
                  <div class="row">
                      <div class="col-md-12">

                          <span class="reviewername">Reviewer:</span> <%= review.name %>
                          <span class="pull-right">Created at: <%= review.created_at %></span>
                          <p><%= review.comment %></p>
                          <%= link_to 'Delete', product_review_path([@product, @review]), method: :delete, data: {confirm: "Are you sure you want to delete the review? This cannot be undone!"} %>
                      </div>
                  </div>
                  <hr>

                  <% end %>

              </div>

          </div>

      </div>

  </div>
  <!-- /.container -->

  <div class="container">

      <hr>
